
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: webhook-service
      namespace: system
      path: /mutate-apps-m88i-io-m88i-io-v1alpha1-nexus
  failurePolicy: Fail
  name: mnexus.kb.io
  rules:
  - apiGroups:
    - apps.m88i.io.m88i.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nexus

---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-m88i-io-m88i-io-v1alpha1-nexus
  failurePolicy: Fail
  name: vnexus.kb.io
  rules:
  - apiGroups:
    - apps.m88i.io.m88i.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nexus
