name: Nexus Operator Integration Checks
on:
  pull_request:
  push:
    branches:
      - master
env:
  OPERATOR_SDK_VERSION: 0.17.0
  GO_VERSION: 1.14
  KIND_VERSION: v0.8.1
jobs:
  unit_test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-

      - name: Mod Tidy
        run: |
          go mod tidy

      - name: FMT
        run: gofmt -s -l -w cmd/ pkg/ version/

      - name: Vet
        run: go vet ./...

      - name: Test Packages
        run: go test ./pkg/... -count=1

  olm_tests:
    name: Operator OLM Tests
    runs-on: ubuntu-latest
    env:
      CLUSTER_NAME: operator-test
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-

      - name: Cache Operator SDK Binary
        uses: actions/cache@v1
        with:
          path: ./bin
          key: ${{ runner.os }}-operator-sdk-${{ env.OPERATOR_SDK_VERSION }}
          restore-keys: |
            ${{ runner.os }}-operator-sdk-

      - name: Install Operator SDK
        run: |
          ./hack/ci/install-operator-sdk.sh
          echo "::add-path::$GITHUB_WORKSPACE/bin"

      - name: Cacke KIND Binary
        uses: actions/cache@v1
        with:
          path: ./bin
          key: ${{ runner.os }}-kind-${{ env.KIND_VERSION }}
          restore-keys: |
            ${{ runner.os }}-kind-

      - name: Install KIND
        run: |
          ./hack/ci/install-kind.sh
          echo "::add-path::$GITHUB_WORKSPACE/bin"

      - name: Start KIND
        run: ./hack/ci/start-kind.sh

      - name: Generate Manifests
        run: ./hack/generate-manifests.sh

      - name: Run Operator OLM Integration Test
        run: ./hack/ci/operator-olm-test.sh

  e2e_tests:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    env:
      CREATE_NAMESPACE: false
      NAMESPACE_E2E: default
      CLUSTER_NAME: nexus-e2e
      CUSTOM_IMAGE_TAG: "nexus-operator:temp"
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-

      - name: Cache Operator SDK Binary
        uses: actions/cache@v1
        with:
          path: ./bin
          key: ${{ runner.os }}-operator-sdk-${{ env.OPERATOR_SDK_VERSION }}
          restore-keys: |
            ${{ runner.os }}-operator-sdk-

      - name: Install Operator SDK
        run: |
          ./hack/ci/install-operator-sdk.sh
          echo "::add-path::$GITHUB_WORKSPACE/bin"

      - name: Build Operator Image
        env:
          BUILDER: docker
        run: |
          ./hack/build.sh

      - name: Cacke KIND Binary
        uses: actions/cache@v1
        with:
          path: ./bin
          key: ${{ runner.os }}-kind-${{ env.KIND_VERSION }}
          restore-keys: |
            ${{ runner.os }}-kind-

      - name: Install KIND
        run: |
          ./hack/ci/install-kind.sh
          echo "::add-path::$GITHUB_WORKSPACE/bin"

      - name: Start KIND
        run: ./hack/ci/start-kind.sh

      - name: Load Operator Image
        run: ./hack/ci/load-operator-image.sh

      - name: Run e2e test
        env:
          RUN_WITH_IMAGE: true
        run: ./hack/run-e2e-test.sh
