name: Nexus Operator Integration Checks
on:
  pull_request:
  push:
    paths-ignore:
      - "docs/**"
      - "README.md"
      - "CONTRIBUTING.md"
      - "examples/**"
      - "LICENSE"
      - "LICENSE_NOTICE"
      - "Makefile"
      - "ISSUE_TEMPLATE"
    branches:
      - master
env:
  OPERATOR_SDK_VERSION: 0.17.1
  GO_VERSION: 1.14
jobs:
  golint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.27

  unit_test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-

      - name: Mod Tidy
        run: |
          go mod tidy

      - name: FMT
        run: gofmt -s -l -w cmd/ pkg/ version/

      - name: Vet
        run: go vet ./...

      - name: Test Packages
        run: go test ./pkg/... -count=1

  integration_tests:
    name: Integration Tests
    # we should wait for an ok from the other two
    needs: [golint, unit_test]
    runs-on: ubuntu-latest
    env:
      CLUSTER_NAME: operator-test
      KIND_VERSION: v0.8.1
      CREATE_NAMESPACE: false
      NAMESPACE_E2E: default
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-

      - name: Cache Operator SDK Binary
        uses: actions/cache@v1
        with:
          path: ./bin
          key: ${{ runner.os }}-operator-sdk-${{ env.OPERATOR_SDK_VERSION }}
          restore-keys: |
            ${{ runner.os }}-operator-sdk-${{ env.OPERATOR_SDK_VERSION }}

      - name: Install Operator SDK
        run: |
          ./hack/ci/install-operator-sdk.sh
          echo "::add-path::$GITHUB_WORKSPACE/bin"

      - name: Cacke KIND Binary
        uses: actions/cache@v1
        with:
          path: ./bin
          key: ${{ runner.os }}-kind-${{ env.KIND_VERSION }}
          restore-keys: |
            ${{ runner.os }}-kind-${{ env.KIND_VERSION }}

      - name: Install KIND
        run: |
          ./hack/ci/install-kind.sh
          echo "::add-path::$GITHUB_WORKSPACE/bin"

      - name: Start KIND
        run: ./hack/ci/start-kind.sh

      - name: Generate Manifests
        run: ./hack/generate-manifests.sh

      - name: Build Operator Image
        env:
          BUILDER: docker
          CUSTOM_BASE_IMAGE: alpine:latest
        run: |
          ./hack/go-build.sh

      - name: Load Operator Image
        run: ./hack/ci/load-operator-image.sh

      - name: Run e2e test
        env:
          RUN_WITH_IMAGE: true
        run: ./hack/run-e2e-test.sh

      - name: Run Operator OLM Integration Test
        run: ./hack/ci/operator-olm-test.sh
